@charset "utf-8";

/* accident */
.accident {
  margin-bottom: 20rem;
}

.accident-con {
  display: flex;
  gap: 14.3rem;

  gap: 9.4079%;
}

.accident-title-all {
  width: 49.9rem;
  width: 32.8289%;
}

.accident-title {
  position: sticky;

  top: 30%;
}

.accident-title p {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--Darck-60);

  font-size: clamp(1.7rem, 1.3021vw, 2.5rem);
}

.accident-title h3 {
  text-align: left;
  font-size: 4rem;
  font-weight: 800;
  color: var(--Darck-100);

  font-size: clamp(2.5rem, 2.0833vw, 4rem);
}

.accident-list {
  display: flex;
  flex-direction: column;
  width: 87.8rem;
  gap: 30rem;

  width: 57.7632%;
}

.accident-list li {
  display: flex;
  gap: 2.4rem;
}

.accident-list li figure {
  width: 31.9rem;
  height: 49.7rem;
  border-radius: 3rem;
  overflow: hidden;
  position: relative;

  width: 36.3326%;
  height: 100%;
}

.accident-list li img {
  width: 100%;
}

.accident-list li .list-text {
  width: 53.5rem;
  padding: 6rem 4rem 15rem;
  border-radius: 3rem;
  background: var(--Darck-100);
  color: var(--Light-100);

  width: 60.9339%;
  padding: 6.8337% 4.5558% 17.0842%;
}

.list-text dt {
  font-weight: 800;
  font-size: 2.8rem;

  font-size: clamp(1.7rem, 1.4583vw, 2.8rem);
}

.list-text dd {
  font-weight: 400;
  font-size: 2.2rem;
  padding-top: 2rem;

  padding-top: 3.7383%;
  font-size: clamp(1.5rem, 1.14583vw, 2.2rem);
}
/* accident end */

/* s.more */

/* s.more */
.bag-more {
  position: relative;
  background: url(https://www.zegna.com/content/dam/zegna-commerce/editorials/ratio137/ss24/oasi-book/mapM13-desktop-ratio137.webp.editorialImage.R30.png)
    50%;
  height: 60rem;
  background-size: cover;

  margin-bottom: 0;
}

.bag-more::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* 어두운 딤처리 */
  opacity: 0.5; /* 투명도 조절 */
  pointer-events: none; /* 클릭 이벤트를 막기 위해 */
}

.bag-con {
  position: absolute;
  bottom: 20%;
  z-index: 10;
}

.bag-title h4 {
  font-weight: 800;
  font-size: 4rem;
  color: var(--Light-100);

  font-size: clamp(2.5rem, 2.0833vw, 4rem);
}

.more-btn {
  width: 24rem;
  height: 7.2rem;
  border-radius: 5rem;
  background: var(--btn);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  margin-top: 3.6rem;

  font-weight: 700;
  font-size: 2.4rem;
  font-size: clamp(1.4rem, 1.0416vw, 2rem);

  color: #fff;
}

.more-btn:hover {
  background: var(--main-color);
  color: #fff;
}

/* e.more */
/* e.more */

/* 반응형 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 */

@media (max-width: 1600px) {
  .accident-list {
    gap: 10rem;
  }

  .accident-list li figure {
    border-radius: 2rem;
  }

  .accident-list li .list-text {
    border-radius: 2rem;
  }
}

@media (max-width: 800px) {
  .accident-con {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }

  .accident-title-all {
    width: 100%;
    text-align: center;
  }

  .accident-title h3 {
    text-align: center;
  }

  .accident-list {
    width: 100%;
  }

  .accident-list li {
    flex-direction: column;
  }

  .accident-list li figure {
    width: 100%;
    height: 15rem;
  }

  .accident-list li .list-text {
    width: 100%;
    padding: 3rem;
  }

  .bag-con {
    transform: translate(-50%, -50%);
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
